@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif
}

.main {
    width: 85%;
    margin: 0 auto;
    /* margin: 20px; */
}

.logomobile {
    margin-top: 25px;
}

.navbar {
    display: flex;
    width: 50%;
    margin-top: 70px;
}

.navbar p {
    margin-left: 10px;
}

.size {
    font-weight: 400;
    font-size: 20px;
}

.globe {
    display: flex;
    width: 30%;
}

.clock {
    display: flex;
    width: 30%;
}

.calendar {
    display: flex;
    width: 30%;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

.mainsection {
    width: 100%;
    display: flex;
}

.head1 {
    width: 60%;
    margin-top: 30px;
}

.slab {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 55px;
    margin-left: 100px;
    padding-top: 100px;
}
.slab1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 80px;
}

.fontsize {
    font-weight: 400;
    font-size: 20px;
}

.image {
    width: 25%;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.header1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.kurs {
    font-weight: 700;
    font-size: 55px;
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
}

.text {
    font-weight: 400;
    font-size: 24px;
    margin-top: 40px;
    width: 55%;
    font-family: 'Roboto', sans-serif
}

.image1 {
    width: 27%;
}

.header2 {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    width: 72%;
}

.text1 {
    display: flex;
    justify-content: space-between;
    width: 62%;
}

.clas {
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format {
    font-weight: 700;
    font-size: 55px;
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
}

.header3 {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.clas2 {
    font-weight: 700;
    font-size: 25px;
    color: #1e4681;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.learn {
    font-weight: 700;
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;

}

.weight {
    font-weight: 400;
    font-size: 18px;
}

.header4 {
    font-size: 24px;
    font-weight: 400;
    font-size: 24px;
    font-weight: 400;
}

.programmer {
    font-weight: 700;
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Roboto Slab', serif;
}

.header5 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    margin: 10px;
    width: 399px;
    height: 330px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 1px grey;

}

.box1 div {
    padding: 5px 15px;
}

.box1 h2 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}

.box1 p {
    font-weight: 400;
    font-size: 25px;
}

.image8 {
    margin-top: 10px;
}

.rectangle {
    width: 100%;
    background-color: #EFEFEF;
    /* height: 900px; */
    margin-top: 100px;
    padding-bottom: 70px;
}

.rectangle h2 {
    font-size: 55px;
    font-weight: 700;
    margin-left: 100px;
    padding-top: 50px;
}

.white {
    background-color: #FFFFFF;
    width: 793px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 0.1px grey;
    margin-left: 100px;
    margin-top: 40px;
    height: 500px;
    margin-bottom: 100px;
}

.white p {
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    padding-top: 80px;
}

.girlphoto {
    padding-top: 25px;
    margin-left: 35px;
}

.white h3 {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* padding-top: 70px; */

}

.person-photo {
    display: flex;
    align-items: center;
}

.facebookk {
    padding-top: 20px;
    margin-left: 30px;
}

.ekatrina {
    margin-left: 30px;
}

.teal {
    background-color: #9DC9C8;
    width: 100%;
    height: 700px;
}

.teal h2 {
    font-weight: 700;
    font-size: 55px;
}

.price {
    font-weight: 400;
    font-size: 25px;
}

.rub {
    font-weight: 400;
    font-size: 80px;
}

.pricerub {
    margin-left: 100px;
    margin-top: 50px;
}

.boxer {
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    justify-content: space-between;
    width: 50%;
}

.same {
    font-weight: 400;
    font-size: 25px;
}

.sametext {
    font-weight: 400;
    font-size: 18px;
}

.black {

    background-color: #000000;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;


    /* padding-right: 100px; */
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.displey {
    /* margin-left: 100px; */
    margin-top: 50px;
}

.displey1 {
    display: flex;
    /* margin-left: 100px; */
    margin-top: 30px;
    justify-content: space-between;
    width: 20%;
}

.colour {
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.displeyflex {
    display: flex;
}

.flex img {
    width: 27px;
    height: 27px;
}

.company {
    color: #EFEFEF;
    width: 85%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;

}

.padding {
    padding-right: 10px;
}

.padding1 {
    padding-bottom: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .logomobile {
        width: 64.87px;
        height: 38.23px;
    }

    .navbar {
        width: 36%;
        height: 18.53px;
    }

    .navbar img {
        width: 12px;
    }

    .navbar p {
        width: 75px;
        font-size: 12px;
    }

    .slab1 {
        width: 363px;
        height: 110px;
        font-size: 46px;
    }

    .fontsize {
        font-size: 12px;
        width: 264px;
        padding-top: 22px;
    }

    .image img {
        width: 100%;
    }

    .box img {
        width: 350px;
    }
    .kurs {
        width: 211px;
        font-size: 32px;
    }
    .text p {
        font-size: 14px;
        width: 384px;
    }
    .image1 img {
        width: 100%;
    } 
.header1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.kurs {
    
    font-size: 32px;
}

.text {
    font-size: 14px;
    width: 55%;
    
}

.image1 {
    width: 27%;
}
.header2 {
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    width: 74%;
}
.header2 img{
    width: 170px;
}
.clas{
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 10px;
}  
.text1 p{
    font-size: 11px;
}
.format{
    font-weight: 700;
    font-size: 32px;
}
.clas2{
    font-size: 15px;
    margin-bottom:1px;
}
.weight{
    
    font-size: 11px;
}
.header3{
    margin-top: 50px;
}
.learn{
    font-size: 32px;
}
.header4{
    font-size: 14px;
}
.programmer{
    font-size: 32px;
}
.box1 {
    margin: 10px;
    width: 278px;
    height: 240px;
    border-radius: 22px;
    box-shadow: 0px 0px 4px 1px grey;
}
.box1 img{
    width: 278px;
}
.box1 h2 {
    font-size: 17px;
}
.box1 p {
    font-size: 14px;
} 
.rectangle{
    padding-bottom:30px;
}
.rectangle h2{
    font-size: 32px;
}
.rectangle p{
    font-size: 12px;
    padding-top: 70px;
    padding-left: 1px;
    padding-right: 10px;
}
.white{
    width: 470px;
    height: 293px;
}
.girlphoto{
    width:110px;
}
.facebookk{
    width: 18px;
}
.white h3{
    font-size: 17px;
    padding-top: 37px;
}
.boxer{
    margin-top: 100px;
}
.teal h2 {
    font-size: 32px;
    padding-left: 100px;
    padding-top: 100px;
}
.price{
    font-size: 32px;
}
.rub{
    font-size: 46px;
}
.same{
    font-size: 14px;
}
.sametext{
    font-size: 10px;
}
.displey {
      width: 80px;
}
.displey1 {
    height: 28px;
    width: 20%;
}
.colour {
    font-size: 14px;
}
.flex img {
    width: 27px;
    height: 27px;
}
.company {
    font-size: 10px;
}
.flex img{
    width:42px;
    height: 16px;
} */
}
